@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* override the default animation on daisyUI buttons, it's annoying as it happens on every button on every page load/refresh */
:root {
  --btn-focus-scale: 0.9;
}

.btn {
  animation: none;
}

.btn:active {
  transition: transform 0.1s !important;
}
